[user]
  name = "yutat23"
  email = "yutat23@gmail.com"

[alias]
  plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
[credential]
  helper = cache --timeout=86400
[alias]
  st = status
  df = diff
  co = commit
  br = branch
  ps = push
  pl = pull
  ck = checkout
  sw = switch
  alias = !"if test -z $1; then loop=; for k in `git config --get-regexp ^alias\\. | sort | sed -e 's/^alias\\.\\(\\S*\\).*/\\1/g'`; do echo -n $k; loop="${loop}1"; if test ${#loop} -lt 5; then echo -n '\t'; else echo; loop=; fi; done; exit; fi; git config --list | grep ^alias\\.$1= | sed -e s/^alias\\.//; exit;"
[push]
	default = current
